body{
    line-height:16pt;
    padding:10px;
    width:700px;}
body>header{
    width:700px;}
h2{
    font-size:22pt;}
#information img{
    height:130px;
    float:left;}
/* portfolio */
#portfolio div{
    height:175px;}
.project{
    height:155px;
    margin:0 30px;}
/* contacts */
input,textarea {
    width:95%;}
select {
    font-size:13pt;}